# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Environment files
.env
.env.*
!.env.example

# VS Code
.vscode/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform/
infra/*.tfvars